{% extends 'homepage.html'%} {% load static %} {% block content_again%}

<div class="container">
  <div class="row justify-content-between">
    {% for datum in data %}
    <div class="col-3 m-2">
      <div class="card border border-dark border-1">
        <div
          class="card-title p-2 fw-bold text-center border border-dark border-1"
          style="background-color: rgba(0, 255, 0, 0.6)"
        >
          {{datum.title}}<br />
          <a href="{{datum.cover}}" target="_blank">book cover</a>
        </div>
        <div
          class="card-body justify-content-center border border-dark border-1"
        >
          <p>{{datum.description}}</p>
        </div>
        <div
          class="footer p-2 text-center border border-dark border-1"
          style="background-color: rgba(0, 255, 0, 0.3)"
        >
          <p class="text-center">Author: {{datum.author}}</p>
          <p class="text-center">Publisher: {{datum.publisher}}</p>
          <p>Price <strong>{{datum.price}}</strong></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock%}
